#content{
    
    height: 70%;
    overflow: hidden;
}

#table-container{
    
    width: 900px;
}

.btn-lg{
	height: 50px;
	width: 120px;
}

.jumbotron{
	margin-top: -19px;
	padding: 50px;

}

.container{
	padding: 10px;
}

img{
	width: 500px;
	height: 500px;
}

