.btn-lg{
	height: 50px;
	width: 120px;
}
body{
	background: #ECE9E6; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
.jumbotron{
	margin-top: 5vh;
	padding: 50px;
	background:none;
	
}

.container{
	padding: 10px;
	background:none;
}

img{
	width: 500px;
	height: 500px;
}

.btn{
	border-radius:15px;
}


.btn-primary{
	border:solid #3E6BD9 2px;
	background:none;
	color:#3E6BD9;
	-o-transition:.2s;
  	-ms-transition:.2s;
  	-moz-transition:.2s;
  	-webkit-transition:.2s;
}

.btn-primary:hover{
	background:#3E6BD9;
	border:solid #3E6BD9 2px;
	color:white;
}

.navbar{
	background:rgba(255,255,255,1);
	border-radius:none;
	border:none;

}

.navbar .navbar-collapse .navbar-nav li a{
	color:#C3C5CD;
	-o-transition:.2s;
  	-ms-transition:.2s;
  	-moz-transition:.2s;
  	-webkit-transition:.2s;

}

.navbar .navbar-collapse .navbar-nav li a:hover{
	color:#CB3059;

}

.red{
	color:#CB3059;

}

.navbar .navbar-header .navbar-brand{
	-o-transition:.2s;
  	-ms-transition:.2s;
  	-moz-transition:.2s;
  	-webkit-transition:.2s;
}

.navbar .navbar-header .navbar-brand:hover{
	color:#CB3059;
}



.brand{
	margin-top:-1rem;
	height:100%;
	width:auto;

}

.thumbnail img{
	height:25vh;
}

.thumbnail .img-responsive{
	height:100%;
}